body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    background-color: salmon;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0;
    height: auto;
}

.nav-list {
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.nav-list > li {
    font-size: 32px;
    padding: 30px;
    display: inline-block;
    list-style-type: none;
}

a:link {
    text-decoration: none;
}