$nav-black: #181818;

* {
    margin: 0px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

a:link {
    text-decoration: none;
}

h4 {
    text-transform: uppercase;
}

p {
    font-size: 24px;
    padding: 0px;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 56vw;
    padding-left: 22vw;
    padding-right: 22vw;
    background-color: $nav-black;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    letter-spacing: 2px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    font-size: 24px;
    font-weight: lighter;
    color: white;
}

.nav-list {
    color: white;
    display: flex;
    list-style-type: none;
    padding-right: 2em;
    justify-content: flex-end;
    margin-left: 20px;
    width: 60%;
}

.nav-list > li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-list > li > a {
    color: white;
}

.nav-list > li > a:hover {
    color: gray;
}

.nav-menu {
    display: none;
}

.main-content {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: silver;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    background-color: silver;
    width: 64vw;
    padding-left: 17vw;
    padding-right: 17vw;
    height: auto;
}

.content-item {
    padding: 2em;
    margin-top: 2em;
    margin-left: 8em;
    margin-right: 8em;
    margin-bottom: 2em;
    background-color: bisque;
}


@media screen and (max-width: 1024px) and (min-width: 769px) {
    nav {
        width: 75vw;
        padding-left: 15vw;
        padding-right: 10vw;
    }
    .wrapper {
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    nav {
        width: 100%;
        flex-direction: row;
        padding: 0;
        background-color: $nav-black;
    }

    .logo {
        width: 80%;
        padding-left: 6%;
        justify-content: left;
    }

    .nav-menu {
        display: block;
        margin: 0 auto;
        width: 8%;
        min-width: 3em;
        padding-right: 6%;
        height: auto;
        text-align: center;

    }
    @for $i from 1 through 3 {
    .nav-menu>div:nth-child(#{$i}) {

        $width: percentage((80 - ($i)) / 100);
        width: $width;

        height: .2em;
        background-color: white;
        border-radius: 20px;
        margin: 0 auto;
        margin-top: 0.5em;
    }
}

    .logo > h4 {
        font-size: 24px;
    }


    .nav-list {
        display: flex;
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
        position: absolute;
        right: 0;
        height: 40vh;
        width: 100%;
        top: 4em;
        background-color: rgb(32, 32, 32);
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        opacity: 100%;
    }

    .nav-list > li {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border: 1px solid white;
        text-align: center;
        margin: 0;

    }

    .nav-list > li > a {
        font-size: 3vh;
    }


    .nav-active {
        transform: translateX(0%);
        width: 100%;
    }

    .navMenu-active::after{
        display: flex;
        color: red;
        content: '\2715';
        font-size: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .navMenu-active > .line {
        display: none;
    }  

    .main-content {
        margin-right: 0em;
        margin-left: 0em;
    }

    .content-item {
        margin-left: 4em;
        margin-right: 4em;
        padding: 1em;
    }
}