* {
  margin: 0px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

section > p {
  padding: 0.5em;
}

body {
  display: block;
  min-width: 320px;
}

a:link {
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

p {
  font-size: 24px;
  padding: 0px;
}

h2 {
  text-align: center;
  background-color: #252525;
  color: white;
  padding: 0.25em;
  border: 1px solid black;
}

.resume-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 1em;
}

[class*="resume-item"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 22%;
  min-width: 300px;
  height: 250px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5%;
  padding: 0.5em;
  margin: 0.25em;
  background-color: white;
}

[class*="resume-item"]:hover {
  background-color: #111111;
  cursor: pointer;
  border: 3px solid black;
}

[class*="resume-icon"] {
  display: block;
  height: 96px;
  width: 96px;
}

.resume-icon-mouseover {
  -webkit-transform: scale(1.1) translateY(-1.5em);
          transform: scale(1.1) translateY(-1.5em);
  -webkit-transition: -webkit-transform 0.25s ease-in;
  transition: -webkit-transform 0.25s ease-in;
  transition: transform 0.25s ease-in;
  transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
}

[class*="modal-container"] {
  display: none;
  position: fixed;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

[class*="modal-area"] {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 30%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

[class*="close-btn"] {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8a1e1e;
  font-size: 48px;
  height: 48px;
  width: 48px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*="close-btn"] img {
  width: 36px;
  height: 36px;
}

[class*="close-btn"]:hover {
  cursor: pointer;
  background-color: lightgray;
  border-radius: 30%;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#about {
  text-align: left;
}

#email {
  max-width: 400px;
}

[class*="project-item"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7em;
  padding-top: 2em;
  text-align: center;
}

[class*="project-item"] > p {
  font-size: 1.5em;
  padding-left: 50px;
  padding-right: 50px;
}

#roguelike {
  height: 400px;
  width: 400px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 20%;
}

#appointment-book {
  height: 30%;
  width: 30%;
  min-height: 330px;
  min-width: 140px;
  max-height: 800px;
  max-width: 380px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5em;
}

#feistel {
  height: 50%;
  width: 50%;
  min-height: 330px;
  min-width: 140px;
  max-height: 620px;
  max-width: 440px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 3em;
}

.project-lang-icon {
  height: 64px;
  width: 64px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.project-item-2 {
  background-color: black;
  border-top: 2px solid #4d4d4d;
}

.project-item-2 {
  color: white;
}

.git {
  margin-top: 1em;
  height: 48px;
  width: 48px;
}

.project-item-2 .git {
  background-color: white;
  opacity: 80%;
  border-radius: 50%;
  border: 1px solid white;
}

.git:hover {
  background-color: gainsboro;
  opacity: 80%;
  border-radius: 50%;
  border: 2px solid gainsboro;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  padding-left: 22%;
  padding-right: 22%;
  background-color: #181818;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  letter-spacing: 2px;
  border-bottom: 2px solid #dfdfdf;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 24px;
  font-weight: lighter;
  color: white;
}

.nav-list {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-right: 2em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 20px;
  width: 60%;
}

.nav-list > li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-list > li > a {
  color: white;
}

.nav-list > li > a:hover {
  color: gray;
}

.nav-menu {
  display: none;
}

.main-content {
  width: 100%;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 0em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: white;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: white;
  width: 100%;
  padding-left: 17%;
  padding-right: 17%;
  height: auto;
}

.content-item {
  margin-top: 2em;
  margin-left: 8em;
  margin-right: 8em;
  margin-bottom: 2em;
  background-color: whitesmoke;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  [class*="project-item"] > p {
    font-size: 1.3em;
    padding-left: 50px;
    padding-right: 50px;
  }
  .navbar {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
  }
  .wrapper {
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
  }
  #roguelike {
    height: 350px;
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    background-color: #181818;
  }
  .wrapper {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .logo {
    width: 70%;
    padding-left: 5%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .nav-menu {
    display: block;
    margin: 0;
    margin-right: 6%;
    width: 3em;
    height: auto;
    text-align: center;
  }
  .nav-menu > div:nth-child(1) {
    width: 79%;
    height: .2em;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 0.5em;
  }
  .nav-menu > div:nth-child(2) {
    width: 78%;
    height: .2em;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 0.5em;
  }
  .nav-menu > div:nth-child(3) {
    width: 77%;
    height: .2em;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 0.5em;
  }
  .logo > h4 {
    font-size: 24px;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    height: 40vh;
    width: 100%;
    top: 4em;
    background-color: #202020;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    opacity: 100%;
  }
  .nav-list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    text-align: center;
    margin: 0;
  }
  .nav-list > li > a {
    font-size: 3vh;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 100%;
  }
  .navMenu-active::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #8a1e1e;
    content: '\2715';
    font-size: 40px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navMenu-active > .line {
    display: none;
  }
  .main-content {
    margin-right: 0em;
    margin-left: 0em;
  }
  .content-item {
    margin: 0;
    padding: 0;
  }
  [class*="project-item"] > p {
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
  }
  #roguelike {
    height: 275px;
    width: 275px;
  }
  [class*="close-btn"] {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #8a1e1e;
    font-size: 12px;
    height: 24px;
    width: 24px;
    font-weight: bold;
    border-radius: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  [class*="close-btn"] img {
    width: 12px;
    height: 12px;
  }
  [class*="modal-area"] {
    width: 75%;
  }
  [class*="modal-container"] {
    padding-top: 40%;
  }
}
/*# sourceMappingURL=style.css.map */