* {
  margin: 0px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  display: block;
  min-width: 320px;
}

a:link {
  text-decoration: none;
}

p {
  font-size: 24px;
  padding: 0px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 56vw;
  padding-left: 22vw;
  padding-right: 22vw;
  background-color: #181818;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  letter-spacing: 2px;
  border-bottom: 2px solid #dfdfdf;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 24px;
  font-weight: lighter;
  color: white;
}

.nav-list {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-right: 2em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 20px;
  width: 60%;
}

.nav-list > li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-list > li > a {
  color: white;
}

.nav-list > li > a:hover {
  color: gray;
}

.nav-menu {
  display: none;
}

.main-content {
  width: 100vw;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 0em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: white;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: white;
  width: 64vw;
  padding-left: 17vw;
  padding-right: 17vw;
  height: auto;
}

.content-item {
  padding: 3em;
  margin-top: 2em;
  margin-left: 8em;
  margin-right: 8em;
  margin-bottom: 2em;
  background-color: whitesmoke;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  nav {
    width: 88vw;
    padding-left: 6vw;
    padding-right: 6vw;
  }
  .wrapper {
    width: 86vw;
    padding-left: 7vw;
    padding-right: 7vw;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    background-color: #181818;
  }
  .wrapper {
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .logo {
    width: 80%;
    padding-left: 6%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .nav-menu {
    display: block;
    margin: 0 auto;
    width: 8%;
    min-width: 3em;
    padding-right: 6%;
    height: auto;
    text-align: center;
  }
  .nav-menu > div:nth-child(1) {
    width: 79%;
    height: .2em;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 0.5em;
  }
  .nav-menu > div:nth-child(2) {
    width: 78%;
    height: .2em;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 0.5em;
  }
  .nav-menu > div:nth-child(3) {
    width: 77%;
    height: .2em;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 0.5em;
  }
  .logo > h4 {
    font-size: 24px;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    height: 40vh;
    width: 100%;
    top: 4em;
    background-color: #202020;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    opacity: 100%;
  }
  .nav-list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    text-align: center;
    margin: 0;
  }
  .nav-list > li > a {
    font-size: 3vh;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 100%;
  }
  .navMenu-active::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #8a1e1e;
    content: '\2715';
    font-size: 40px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navMenu-active > .line {
    display: none;
  }
  .main-content {
    margin-right: 0em;
    margin-left: 0em;
  }
  .content-item {
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em;
  }
}
/*# sourceMappingURL=style.css.map */