* {
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

a:link {
  text-decoration: none;
}

h4 {
  text-transform: uppercase;
}

p {
  font-size: 24px;
  padding: 0px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  top: 0;
  width: 100%;
  background-color: #181818;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  letter-spacing: 2px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 24px;
  color: white;
}

.nav-list {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 20px;
  width: 60%;
}

.nav-list > li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-list > li > a {
  color: white;
}

.nav-menu {
  display: none;
}

main {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  margin-top: 4em;
}

.main-content {
  height: 100vh;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: whitesmoke;
}

.content-item {
  padding: 2em;
  margin-top: 2em;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 2em;
  background-color: bisque;
}

.nav-menu > div:nth-child(1) {
  width: 77%;
  height: 2px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin: 9px;
}

.nav-menu > div:nth-child(2) {
  width: 74%;
  height: 2px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin: 9px;
}

.nav-menu > div:nth-child(3) {
  width: 71%;
  height: 2px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin: 9px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #181818;
  }
  .logo {
    width: 80%;
  }
  .logo > h4 {
    font-size: 5vw;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    height: 60vh;
    width: 95%;
    top: 4em;
    background-color: #181818;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    opacity: 95%;
  }
  .nav-list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    text-align: center;
  }
  .nav-list > li > a {
    font-size: 3vh;
  }
  .nav-menu {
    display: block;
    width: 10vw;
    height: auto;
    margin-right: 40px;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    width: 100%;
  }
  .navMenu-active::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    content: '\2715';
    font-size: 48px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navMenu-active > .line {
    display: none;
  }
  .main-content {
    margin-right: 0em;
    margin-left: 0em;
  }
  .content-item {
    margin-left: 4em;
    margin-right: 4em;
    padding: 1em;
  }
}
/*# sourceMappingURL=style.css.map */